<div class="container1">
    <div class="left">
        <h1>Transforme <span class="purple-title">sonhos</span> em <span class="purple-title">cliques</span> e <span class="purple-title">resultados</span></h1>
        <p>Na <strong>AURO</strong>, a gente cria landing pages que são rápidas, bonitas e feitas sob medida para o seu negócio. Transformamos visitantes em clientes com designs que chamam atenção e funcionam de verdade. Do planejamento à entrega, o nosso foco é simples: fazer sua empresa brilhar no digital e trazer resultados que você pode ver.</p>
    </div>
    <div class="right">
        <img src="/assets/images/Lado Direito.png" alt="Imagem explicativa">
    </div>
</div>

<link rel="stylesheet" href="../assets/css/container1.css" />
