<div class="container2">
  <div class="left">
    <img src="/assets/images/Rectangle 4.png" alt="Imagem explicativa" />
    <div class="comments">
      <img src="/assets/images/1comment.png" alt="comment1" />
      <img src="/assets/images/2comment.png" alt="comment1" />
      <img src="/assets/images/3comment.png" alt="comment1" />
    </div>
  </div>
  <div class="right-side">
    <div class="container2-right">
      <img src="/assets/images/Texto à direita.png" alt="img-direta" />
    </div>
    <div class="baloes">
      <img src="/assets/images/Balões1.png" alt="Balões1" />
      <img src="/assets/images/Balões2.png" alt="Balões2" />
      <img src="/assets/images/Balões3.png" alt="Balões3" />
    </div>
  </div>
</div>

<link rel="stylesheet" href="../assets/css/container2.css" />
