.container1 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    padding: 20px; 
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 1.3rem;
    color: white;
}

.left {
    flex: 1;
}

.right {
    flex: 1; 
    display: flex;
    justify-content: center;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.right img {
    max-width: 100%; 
    height: auto; 
}

h1 {
    color: white;
}

.purple-title {
    color: #A683FF;
}
