.navigate-icons{
    display: flex;
    gap: 2rem;
}

ul{
    list-style: none; 
    color: white;
    text-decoration: none;
}

a{
    list-style: none; 
    color: white;
    text-decoration: none;
}

.all-content{
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    padding-top: 1rem;
}